@font-face{
  src: url('../fonts/GT-America-Mono-Black-v1.otf');
  font-family: 'GT America Mono';
  font-weight: 900;
}
@font-face{
  src: url('../fonts/GT-America-Mono-Bold-v1.otf');
  font-family: 'GT America Mono';
  font-weight: 700;
}
@font-face{
  src: url('../fonts/GT-America-Mono-Medium-v1.otf');
  font-family: 'GT America Mono';
  font-weight: 500;
}
@font-face{
  src: url('../fonts/GT-America-Mono-Regular-v1.otf');
  font-family: 'GT America Mono';
  font-weight: 400;
}
@font-face{
  src: url('../fonts/GT-America-Mono-Light-v1.otf');
  font-family: 'GT America Mono';
  font-weight: 300;
}
@font-face{
  src: url('../fonts/GT-America-Mono-Ultra-Light-v1.otf');
  font-family: 'GT America Mono';
  font-weight: 200;
}
