p{
  font-size: 10px;
  letter-spacing: -0.02em;
  margin: 0;
  width: 420px;
  word-wrap: break-word;
}

pre{
  display: inline-block;
  font-size: 10px;
  width: 100%;
  font-family: 'GT America Mono', sans-serif;
  white-space: pre-wrap;
  margin: 0;
  letter-spacing: -0.07em;
  opacity: 0.25;
  margin-bottom: 89px;
}


@mixin fib($num){
  $a: 1;
  $b: 1;
  @for $i from $num through 1{
    $temp: $b;
    $b: $a + $temp;
    $a: $temp;
  }
  font-size: #{$a}px;
  line-height: #{$a / 1.614}px;
  letter-spacing: #{$a * 0.001614}px;
}

span{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  @for $i from 20 through 1{
    &:nth-of-type(#{$i}){
      $one-percent: (100 / 21) / 100;
      opacity: #{$i * $one-percent};
      @include fib(22 - $i);
    }
  }
}
